:root {
	--nav-color: #404040;
	--row-count: 4;
	--col-count: 6;
}

body {
	margin: 0;
}

#board {
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 64px;
	padding: 4px;
	// background-color: #31468b;
	// background-color: #67917a;

	grid-template-columns: repeat(var(--col-count), 1fr);
	grid-template-rows: repeat(var(--row-count), 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;


	--color-a: #57808b;
	--color-b: #31638b;
	background: repeating-linear-gradient(45deg, var(--color-a), var(--color-a) 20px, var(--color-b) 20px, var(--color-b) 40px);



}

.tile {
	min-width: 0;
	min-height: 0;
	width: auto;
	height: auto;

	margin: 4px;
	border: 2px solid white;
	border-radius: 8px;
	background-color: cornflowerblue;
	box-sizing: border-box;
	position: relative;

	display: grid;

	transform: rotateY(0deg);
	transition: width 1s, height 1s, left 1s, top 1s, transform 0.5s;

	transform-style: preserve-3d;
}

.tile.flipped {
	transform: rotateY(180deg) !important;
	width: calc(100% - 64px) !important;
	top: 32px !important;
	left: 32px !important;
	height: 100% !important;
}

.tile img {
	width: 100%;
	height: 100%;
	padding: 8px;
	object-fit: scale-down;
	box-sizing: border-box;
	position: absolute;

	grid-column: 1;
	grid-row: 1;

	backface-visibility: hidden;
}

.tile video {
	position: relative;
	width: 100%;

	grid-column: 1;
	grid-row: 1;

	transform: rotateY(180deg);
	backface-visibility: hidden;

	border-radius: 8px;
	background-color: darkblue;

	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: auto;
}

nav {
	position: fixed;
	background-color: var(--nav-color);
	left: 0;
	right: 0;
	bottom: 0;
	height: 64px;

	display: flex;
}

#nav-boards {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#nav-menu-button {
	width: 64px;
	height: 64px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#nav-menu-button img {
	width: 80%;
	height: 80%;
}

.tab-button {
	flex-grow: 1;
	text-align: center;
}

#config {
	position: absolute;
	top: 0;
	background-color: white;
	z-index: 10;
	width: 50%;
	left: -50%;
	height: calc(100% - 64px);
	transition: left .3s;
}

#config.menu-expanded {
	left: 0;
}